@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #180B2B;
}

#theme-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#navigation {
    display: flex;
    align-items: center;
}
.gobutton {
    height: 25px;
    width: 30px;
    border: 0;
    cursor: pointer;
    background-position: center;
    background-size: contain;
}

.back {
    background-image: url("images/left.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.forward {
    background-image: url("images/right.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #fffffe;
    font-size: 30px;
}
h2 {
    color: #fffffe;
    font-size: 25px;
    padding: 0;
}

a {
    color: #a7a9be;
    text-underline-position: under;
}

p {
    color: #a7a9be;
    font-size: 20px;
}

#done {
    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
    color: white;
}
.app {
    display: flex;
}

#theme {
    width: 20%;
    height: 100%;
}
#task {
    width: 53%;
    min-width: 570px;
    padding: 0 20px 20px 20px;
    font-family: 'Exo 2', sans-serif;
    background-color: #180B2B;
    overflow: auto;
}

#visuals {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    overflow: hidden;
    align-items: center;
    left: 56vw;
    top: 2.5vh;
    bottom: 2.5vh;
    background-color: #fffffe;
    width: 40vw;
    height: 92.55vh;
    border-radius: 5px;
    padding: 0;
}

#edit-text {

}
.code {
    font-family: 'JetBrains Mono', monospace;
    color: #fffffe;
    font-size: 16px;
    font-weight: bold;
    background-color: #f25f4c;
    border-radius: 2px;
}
.code-editor {
    position: relative;
    margin: 0;
    background-color: #fffffe;
    padding: 10px 10px 0 40px;
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.45;
    font-size: 15px;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
    bottom: 2vh;
}

.numbers {
    position: absolute;
    line-height: 1.5;
    top: 0;
    left: 0;
    background-color: #f25f4c;
    color: #fffffe;
    padding: 10px 6px;
    height: 100%;
    text-align: right;
    overflow: hidden;
}

pre {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    font-size: 15px;
    color: #a7a9be;
}

textarea {
    white-space: pre;
    background-color: #EEEEEE;
    color: #f25f4c;
    margin: 0;
    vertical-align: top;
    padding-bottom: 1px;
    padding-top: 0;
    font-size: 15px;
    line-height: 1.5;
    border: none;
    outline: none;
    resize: none;
    height: 22px;
    width: 98%;
    overflow: hidden;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
}

.progress-bar {
    width: 40%;
    background-color: #f1f1f1;
    border-radius: 5px;
    height: 80%;
}

.progress-bar-fill {
    height: 22px;
    border-radius: 5px;
    background-color: white;
    transition: width 0.5s;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-icon {
    max-width: 100%;
    max-height: 100%;
}

.square-container {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

#user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.signout {
    cursor: pointer;
    outline: none;
    color: #FFFFFe;
    font-size: 19px;
    border: none;
    font-family: 'Exo 2', sans-serif;
    background-color: #f25f4c;
    width: 8vw;
    height: 35px;
    border-radius: 4px;
}

#check {
    cursor: pointer;
    outline: none;
    color: #FFFFFe;
    font-size: 19px;
    border: none;
    font-family: 'Exo 2', sans-serif;
    background-color: #f25f4c;
    width: 9vw;
    text-align: center;
    height: 35px;
    border-radius: 3px;
    right: 15px;
    bottom: 15px;
    position: absolute;
    padding: 5px 10px;
}

.page-transition {
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#secret {
    height: 20px;
}

.shake {
    animation: jump-shaking 1.0s infinite;
}

@keyframes jump-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateY(-9px) }
    35% { transform: translateY(-9px) rotate(17deg) }
    55% { transform: translateY(-9px) rotate(-17deg) }
    65% { transform: translateY(-9px) rotate(17deg) }
    75% { transform: translateY(-9px) rotate(-17deg) }
    100% { transform: translateY(0) rotate(0) }
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #f25f4c;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 5% auto;
    box-shadow: inset 0px 0px 0px #f25f4c;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}
.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}
@keyframes stroke {
    100%{stroke-dashoffset: 0}
}
@keyframes scale {
    0%, 100%{transform: none}50%{transform: scale3d(1.1, 1.1, 1)}
}
@keyframes fill{
    100%{box-shadow: inset 0px 0px 0px 30px #f25f4c}
}

.text-image {
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: none;
    margin-bottom: 10px;
}

.capy {
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
