@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #0f0e17;
}
h1 {
    color: #fffffe;
    font-size: 30px;
}
h2 {
    color: #fffffe;
    font-size: 25px;
    padding: 0;
}

a {
    color: #a7a9be;
    text-underline-position: under;
}

p {
    color: #a7a9be;
    font-size: 20px;
}

.app {
    display: flex;
}

#task {
    width: 50%;
    padding: 0 20px 20px 20px;
    font-family: 'Exo 2', sans-serif;
    background-color: #0f0e17;
    overflow: auto;
}

#visuals {
    position: fixed;
    overflow: hidden;
    left: 53vw;
    top: 1.5vw;
    bottom: 2.5vh;
    background-color: #fffffe;
    width: 43vw;
    height: 92.55vh;
    border-radius: 5px;

}

#edit-text {
    padding: 20px;
    font-size: 3.5vh;
}
.code {
    font-family: 'JetBrains Mono', monospace;
    color: #fffffe;
    font-size: 16px;
    font-weight: bold;
    background-color: #f25f4c;
}
.code-editor {
    position: relative;
    margin: 0;
    background-color: #fffffe;
    padding: 10px 10px 0 40px;
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.45;
    font-size: 15px;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
    bottom: 2vh;
}

.numbers {
    position: absolute;
    line-height: 1.5;
    top: 0;
    left: 0;
    background-color: #f25f4c;
    color: #fffffe;
    padding: 10px 6px;
    height: 100%;
    text-align: right;
    overflow: hidden;
}

pre {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    font-size: 15px;
    color: #a7a9be;
}

textarea {
    white-space: pre;
    background-color: #EEEEEE;
    color: #f25f4c;
    margin: 0;
    vertical-align: top;
    padding-bottom: 1px;
    padding-top: 0;
    font-size: 15px;
    line-height: 1.5;
    border: none;
    outline: none;
    resize: none;
    height: 22px;
    width: 98%;
    overflow: hidden;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
}
